option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    composer_options: "--no-dev"
container_commands:
  01_update_permissions:
    command: "sudo chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache && sudo chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache"
  01storage_link:
    command: "sudo php artisan storage:link"
  02migrate:
    command: "sudo php artisan migrate --force 2>&1 | sudo tee /var/log/eb-migrate.log"
    leader_only: true